*{
    margin: 0;
    padding: 0;
}
/* body{
    background-color: aqua;
} */


.container{
    width: 100vw;
    min-height: 100vh;
}

.location a:link{
    color: #748C70;
}

.location a:visited{
    color: #0C0C0C;
}


@media(max-width:900px){

    .location a{
        font-size: 12px;
    }
}