.content{
    max-width: 1440px;
    /* height: 100vh; */
    /* background-color: aquamarine; */
}

.location{
    height: 80px;
    /* background-color: rgb(0, 255, 170); */
    display: flex;
    align-items: center;
    margin-left: 90px;
}

.location a{
    text-decoration: none;
    font-family: sans-serif;
}

.content-1{
    width: calc(100% - 120px);
    margin: auto;
    display: flex;
}

.content-1-1,.content-1-2{
    width: 600px;
    height: 512px;
    /* background-color: aqua; */
}

.content-1-1{
    margin-right: 40px;
    display: flex;
}

.content-1-1-1{
    width: calc(100% - 427px);
    height: 100%;
    /* background-color: blue; */
    
    overflow-y: scroll;
}

.content-1-1-1 img{
    width: 100%;
}

.img{
    opacity: 0.5;
}

.img.active{
    opacity: 1;
}
.content-1-1-2{
    width: 427px;
    height: 100%;
    /* background-color: rgb(38, 38, 50); */
}

.content-1-1-2 img{
    width: 100%;
    height: 100%;
}

.circle-0{
    display: flex;
}

.circle{
    width: 24px;
    height: 24px;
    border-radius: 24px;
    margin: 2px;
}

.circle-1{
    background-color: #0C0C0C;

}

.circle-2{
    background-color: #7DC3EB;

}
.circle-3{
    background-color: #D0A5EA;
}

.circle-4{
    background-color: #748C70;
}

.circle-5{
    background-color: #CA6D29;
}

.circle-6{
    background-color: #909225;
}

.size-guide input:first-child{
    width: calc(100% - 120px);
    height: 40px;
    border: solid #DFDFDF 0.5px ;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding-left: 20px;
    padding-right: 20px;
}

.size-guide input:last-child{
    width: calc(100% - 80px);
    height: 40px;
    border: none;
    background-color: #7C0086;
    color: white;
}

.return{
    margin-top: 40px;
    width: calc(100% - 80px);
    height: 64px;
    /* background-color: #CA2929; */
    display: flex;
}

.easy,.add{
    width: calc(100% / 2);
    height: 100%;
    /* background-color: #7C0086; */
}

.easy{
    display: flex;

}

.easy button{
    border: none;
    background-color: #ffffff;
    color: #868686;
    font-size: 15px;
}

.easy i{
    margin-right: 8px;
}

.add{
    display: flex;
    justify-content: end;
}

.add button{
    border: none;
    background-color: #ffffff;
    color: #868686;
    font-size: 15px;
}

.add i{
    margin-right: 8px;
}

.content-1-2 h2{
    font-family: sans-serif;
    margin-bottom: 20px;
}

.content-1-2 p{
    font-family: sans-serif;
}

.circle-0{
    margin-top: 10px;
    margin-bottom: 20px;
}

.size-guide p{
    text-align: right;
    margin-right: 90px;
    color: #868686;
}


@media(max-width:900px){
    .content-1{
        display: block;
    }

    .content-1-1{
        width: 100%;
    }

    .content-1-1-1{
        display: none;
    }

    .content-1-2{
        width: calc(100vw - 60px);
    }

    .return{
        width: 100%;
        display: block;

    }

    .easy{
        margin-left: 50px;
    }
}


.content-1-3{
    width: calc(100% - 80px);
    /* background-color: #CA2929; */
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
}

.content-1-3-1,.content-1-3-2{
    width: calc((100% / 2) - 80px);
    height: 100%;
    /* background-color: #7C0086; */
}

.content-1-3-1{
    margin-right: 40px;
    position: relative;
}

.content-1-3-2{
    margin-right: 40px;
    position: relative;
}

.Fitting,.Fabric-and-Care,.Product-details,.Shipping-and-Return,.Silk{
    height: 76px;
    display: flex;
    align-items: center;
    padding: 0 20px 0 20px;
    border: #DFDFDF solid 1px;
    background-color:#F0F2EF;

}

.Fitting p,.Fabric-and-Care p,.Product-details p,.Shipping-and-Return p,.Silk p{
    font-size: 20px;
    font-family: sans-serif;
}
.Fitting i,.Fabric-and-Care i,.Product-details i,.Shipping-and-Return i,.Silk i{
    position: absolute;
    right: 20px;
    font-size: 18px;
}

.ri-subtract-line{
    display: none;
}

.ri-add-line.close{
    display: none;
}

.ri-subtract-line.active{
    display: block;
}

.Fitting-details,.Fabric-and-Care-details,.Product-details-details,.Shipping-and-Return-details,.Silk-details{
    height: auto;
    display: flex;
    align-items: center;
    padding: 20px 20px 20px 20px;
    border: #DFDFDF solid 1px;
    background-color:#F0F2EF;

}
.Fitting-details p,.Fabric-and-Care-details p,.Product-details-details p,.Shipping-and-Return-details p,.Silk-details p{
    font-size: 16px;
    font-family: sans-serif;
}

.Fitting-details,.Fabric-and-Care-details,.Product-details-details,.Shipping-and-Return-details,.Silk-details{
    display: none;
}

.Fitting-details.active{
    display: block;
}

.Fabric-and-Care-details.active{
    display: block;
}

.Product-details-details.active{
    display: block;
}

.Shipping-and-Return-details.active{
    display: block;
}

.Silk-details.active{
    display: block;
}
.Silk-details p{
    margin-bottom: 15px;
}
.Silk-details button{
    width: auto;
    padding: 8px;
    border: none;
    margin: 15px;
    margin-left: 0;
}

@media(max-width:900px){

    .content-1-3{
        display: block;
        margin-top:0 ;
    }
    .content-1-3-1{
        width: 100%;
    }
    .content-1-3-2{
        width: 100%;
    }
}



.content-1-4{
    width: calc(100% - 80px);
    /* background-color: #CA2929; */
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    position: relative;
}


.content-1-4-1{
    width: 100%;
    display: grid;
    /* background-color: #7C0086; */
    grid-template-columns: auto auto auto;
    gap: 20px;
    margin-top: 30px;
}

.content-1-4-1-1,.content-1-4-1-2,.content-1-4-1-3{
    position: relative;
}

.content-1-4 img{
    width: 344px;
    height: 438px;
}

.favourite a{
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
}

.favourite-1{
    position: absolute;
    right: 45px;
    top: 10px;

}

.content-1-2-item-1-1{
    width: 100%;
    /* background-color: #c8e4c4; */
    display: flex;
}

.content-1-2-item-1-1-1{
    width: calc(100% - 30%);
    /* background-color: #7C0086; */
    margin: 5px;
    font-family: sans-serif;

}

@media(max-width:900px){
    .content-1-4-1{
        overflow: auto;
    }
}

.favourite-1{
    position: absolute;
    top: 5px;
    right: 85px;
}