body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --bodylg: Montserrat;
  --font-league-spartan: "League Spartan";

  /* font sizes */
  --bodylg-size: 18px;
  --h5-size: 20px;
  --bodymd-size: 16px;
  --overlinesm-size: 12px;
  --font-size-13xl: 32px;

  /* Colors */
  --white: #fff;
  --neutral-gray404040: #404040;
  --primary-primary50: #d1d9cf;
  --neutral-graycbcbcb: #cbcbcb;
  --primary-primary25: #f0f2ef;
  --primary: #748c70;
  --black: #0c0c0c;
  --neutral-gray606060: #606060;

  /* Gaps */
  --gap-base: 16px;
  --gap-85xl: 104px;
  --gap-33xl: 52px;
  --gap-5xl: 24px;
  --gap-5xs: 8px;
  --gap-xl: 20px;

  /* Paddings */
  --padding-35xl: 54px;
  --padding-xl: 20px;
  --padding-mini: 15px;
  --padding-lgi: 19px;
  --padding-xs: 12px;
  --padding-9xs: 4px;
  --padding-base: 16px;
  --padding-5xl: 24px;
  --padding-3xl: 22px;
  --padding-5xs: 8px;
  --padding-7xs: 6px;
  --padding-8xs: 5px;
  --padding-280xl: 299px;
  --padding-130xl: 149px;
}


