/*collection*/
.collection{
    width: 100%;
    height: 1360px;
   /*background-color: #d87093;*/
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    gap: 15px;
}

.img-4{
    margin-top: 80px;
}
.columan-1, .columan-2{
    position: relative;
}

.set-1 button{   
    position: absolute;
    left: 400px;
    top: 455px;
}

.set-3 button{
    position: absolute;
    left: 16px;
    top: 784px;
}

.set-2 button,
.set-4 button
{
    position: absolute;
    left: 399px;
    top: 1303px;
}

.set-1 button,
.set-2 button,
.set-3 button,
.set-4 button{
    width: 185px;
    height: 40px;
   /* padding: 16px;*/
   /* gap: 4px;*/
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
   /* line-height: 24px;*/
   /* text-align: center;*/
    color: #0C0C0C;
    outline: none;
    border: none;
}

.set-1 button:hover,
.set-2 button:hover,
.set-3 button:hover,
.set-4 button:hover{
    background-color: rgb(202, 198, 198);
}