/*footer*/
.footer{
    width: 100%;
    height: 417px;
    background-color: #404040;
    display: flex;
    margin-top: 55px;
    font-family: sans-serif;
}

.part-1{
    width: 50%;
    height: 417px;
    margin-left: 110px;
}

.part-1 h5{
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    margin-top: 55px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.part-01{
    position: relative;
}

.part-01 input{
    width: 496px;
    height: 40px;
    border: 1px solid white;
    padding: 0px 16px;
    gap: 4px;
    background-color: #404040;
    margin-top: 20px;
    outline: none;
    color: #CBCBCB;
}

.part-01 i{
    position: absolute;
    top: 33px;
    right: 95px;
    color: #FFFFFF;
}

.part-02{
    display: flex;
    margin-top: 20px;
}

.part-02 input{
   /* padding: 14px;*/
    color: #FFFFFF;
}

.part-02 p{
    font-weight: 600;
    font-size: 12px;
    line-height: 14.63px;
    color: #FFFFFF;
    letter-spacing:0.8px ;
    margin-left: 7px;
}

.part-03{
    color: #FFFFFF;
    margin-top: 90px;
}

.part-03 i{
    padding-left: 20px;
    font-size: 30px;
}

.para{
    font-weight: 400;
    font-size: 12px;
    line-height: 21.6px;
    color:#CBCBCB;
    margin: 20px;
}

.part-2{
    width: 50%;
    height: 417px;
  /*  background-color: blue;*/
    display: flex;
}

.columan-3{
    margin-top: 55px;
    color: #FFFFFF;
    padding-left:25px ;
}

.columan-3 h4{
    font-weight: 700;
    font-size: 25px;
    line-height: 28px;
}

.columan-3 p{
    margin-top: 20px;
    font-size: 20px;
}

/*.part-2 img{
    width: 30px;
    height: 30px;
    /*position: absolute;
    top: 150px;
    padding-right: 45px;
    margin-top: 350px;
    background-color: rgb(111, 4, 211);
    border: #CBCBCB;
}*/