.content{
    width: 100%;
    /* height: 100vh; */
    /* background-color: aquamarine; */
}

.location{
    height: 80px;
    /* background-color: rgb(0, 255, 170); */
    display: flex;
    align-items: center;
    margin-left: 90px;
}

.location a{
    text-decoration: none;
    font-family: sans-serif;
}


.image img{
    width: 100%;
    height: 655px ;
}

.image img:nth-child(2){
    display: none;
}

@media(max-width:940px){

    .content{
        width: 100%;
        /* height: 100vh; */
        /* background-color: aquamarine; */
    }
    .image img:first-child{
        display: none;
    }

    .image img:nth-child(2){
        display: block;
        height: auto;
    }
    
    
}

.radio{
    display: none;
    justify-content: center;
}

.radio input{
    margin: 5px 3px 5px;
}


.filter{
    width: calc(100% - 40px);
    height: 40px;
    margin: auto;
    /* background-color: #0C0C0C; */
    display: none;
    align-items: center;
    justify-content: center;

}

.btn{
    border: none;
    margin-right: 10px;
    outline: none;
    


}
.btn i{
    font-size: 20px;
    cursor: pointer;
}

.filter p{
    font-family: sans-serif;
    font-size: 20px;
}


@media(max-width:940px){
    .radio{
        display: flex;
    }

    .filter{
        display: flex;
    }
}

.content-1{
    max-width: calc(1440px - 120px);
    /* height: 100px; */
    margin: auto;
    /* background-color: black; */
    display: flex;
    margin-top: 20px;
    
}



.content-1-1{
    width: calc(100% - 65%);
    height: auto;
    /* background-color: #5A6D57; */
    display: block;
    position: relative;
}

.content-1-1 h2{
    font-family: sans-serif;
}

.content-1-2{
    width: calc(100% - 35%);
    /* background-color: #396832; */
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}



.box{
    width: 360px;
    height: 48px;
    background-color: #7C0086;
    margin: 15px;
    display: flex;
    align-items: center;
    margin-left: 0;
    position: relative;
}

.box p{
    margin-left: 15px;
    color: #FFFFFF;
}

.box button{
    color: #FFFFFF;
    position: absolute;
    right: 8px;
    bottom: 12px;
    background-color: #7C0086;
    border: none;

}
.closeBTN{
    display: none;
}

@media(max-width:900px){
  
    .content-1-1{
        display: none;
    }

    .content-1-1.active{
        display: block;
    }

    .content-1-2{
        width: calc(100% - 40px);
        margin: auto;
        grid-template-columns: auto;
    }

    .content-1-2.close{
        display: none;
    }
    .closeBTN{
        display: flex;
        position: absolute;
        left: 340px;
        top: 5px;
    }



}
.filterFunc{
    width: 100%;
    display: flex;
}

.filterBtn{
    width: 152px;
    height: 40px;
    margin-left: 20px;
    outline: none;
    border: none;
    display: none;

}
.filterBtn-1.active{
    display: block;
}
.filterBtn-2.active{
    display: block;
}

.filterOption{
    display: none;
}

.filterOption.active{
    display: block;
}


.boxes.close{
    display: none;
}




.filterBox{
    display: flex;
    width: 184px;
    height: 40px;
    background-color: #D1D9CF;
    margin: 5px;
    align-items: center;
    justify-content: center;
}

.filterBox p{
    margin-right: 25px;
}

.filterBox button{
    border: none;
    background-color: #D1D9CF;
}

.filterDetails{
    width:100%;
    display: none;
}

.filterDetails.active{
    display: block;
}

.chkbx{
    display: flex;
    align-items: center;
}

.circles{
    width: 15px;
    height: 15px;
    border-radius: 24px;
    margin: 2px;
}

.circles-1{
    background-color: #0C0C0C;
}

.circles-2{
    background-color: #CA2929;
}

.circles-3{
    background-color: #748C70;
}

.circles-4{
    background-color: #909225;
}

.circles-5{
    background-color: #19418E;
}

.circles-6{
    background-color: #D0A5EA;
}

.circles-7{
    background-color: #CA2980;
}

.circles-8{
    background-color: #7DC3EB;
}

.circles-9{
    background-color: #CA6D29;
}

.circles-10{
    background-color: #FFFFFF;
}


.filterDetail p{
    color: #748C70;
    font-family: sans-serif;
}

.filterDetail label{
    font-family: sans-serif;
    font-size: 14px;
}

@media(max-width:900px){
    .filterDetails{
        width:100vw;
    }
}

.filterDetail{
    width: calc(100% - 40px);
    /* background-color: #19418E; */
    margin: 10px;
    border: solid 1px black;
    padding-left: 15px;
}

.filterDetail p{
    font-family: sans-serif;
    margin: 5px;
}


.filterDetail i{
    position: absolute;
    right: 20px;
}

@media(max-width:900px){
    .filterDetail i{
        right: -240px;
    }
}

.filterDetail input{
    margin: 8px;
}


@media(max-width:900px){
    .filterBtn{
      display: inline;  
    }
}

.filterBtn-2{
    background-color:#7C0086 ;
    color: #FFFFFF;
}

/* @media(max-width:1200px){
    .box{
        width: 152px;
        height: 333px;
    }
} */

.content-1-2 img{
    width: 364px;
    height: 438px;
}

.new-box{
    width: 86px;
    height: 32px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 15px;
    left: 15px;
}

.new-box p{
    font-family: sans-serif;
    font-size: 15px;
}

.item p{
    font-family: sans-serif;
}

.content-1-2-item-1{
    position: relative;
}

.content-1-2-item-2{
    position: relative;
}

.content-1-2-item-3{
    position: relative;
}

.content-1-2-item-4{
    position: relative;
}

.content-1-2-item-5{
    position: relative;
}

.content-1-2-item-6{
    position: relative;
}

.content-1-2-item-1-1{
    width: 100%;
    /* background-color: #c8e4c4; */
    display: flex;
}

.content-1-2-item-2-1{
    width: 100%;
    /* background-color: #c8e4c4; */
    display: flex;
}

.content-1-2-item-1-1-1{
    width: calc(100% - 30%);
    /* background-color: #7C0086; */
    margin: 2px;

}


.content-1-2-item-1-1-2{
    width: calc(100% - 70%);
    /* background-color: #ebe5e5; */
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 28px;
}

.favourite-1{
    position: absolute;
    top: 5px;
    right: 75px;
}

.favourite-2{
    position: relative;
    top: -436px;
    right: -360px;
}

.favourite i{
    
    font-size: 18px;
}

.circle-0{
    display: flex;
}

.circle{
    width: 24px;
    height: 24px;
    border-radius: 24px;
    margin: 2px;
}

.circle-1{
    background-color: #909225;

}

.circle-2{
    background-color: #0C0C0C;

}

.circle-3{
    background-color: #7DC3EB;

}

.circle-4{
    background-color: #748C70;

}

.circle-5{
    background-color: #CA6D29;

}

.circle-6{
    background-color: #0C0C0C;

}

.circle-7{
    background-color: #19418E;

}

.circle-8{
    width: 20px;
    height: 20px;
    border: #0C0C0C solid 1px;

}

.crcl{
    justify-content: center;
    margin-top: 8px;
}

.load-btn{
    width: 184px;
    height: 40px;
    border: solid #5A6D57 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: absolute; */
   margin-top: 15px;
   margin-left: 850px;
   margin-bottom: 20px;
   
}

@media(max-width:900px){
    .load-btn{
        margin-left: 95px;
    }
}

.load-btn a{
    text-decoration: none;
    color: #5A6D57;
}

.filterBox-1.active,.filterBox-2.active,.filterBox-3.active,.filterBox-4.active{
    display: none;
}

.chk-clss-1.active,.chk-clss-2.active,.chk-clss-3.active,.chk-clss-4.active,.chk-clss-5.active{
    display: none;
}